@model IEnumerable<Moment3.Models.Author>

@{
    ViewData["Title"] = "Författare";
}

<h1>Författare</h1>

<p>
    <a asp-action="Create">Lägg till författare</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
